In [1]:
from config_bdd import DataBaseV2
import sqlalchemy as db

database = DataBaseV2(
    db_type='postgresql',
    #db_name=dbname,
    #db_host=host,
    #db_port=port,
    #db_user=user,
    #db_password=password
    db_url="your_url"
)

In [9]:
# Création d'un Tableau1
database.create_table('test', 
                      date_pred=db.DATE, 
                      type_de_bien=db.String, 
                      departement=db.String,
                      commune=db.String)

Table : 'test' are created succesfully

In [2]:
database.get_columns_table("kpis")

[{'name': 'date_pred',
  'type': DATE(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'type_de_bien',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'region',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'departement',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'commune',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [3]:
database.add_column("kpis", "user", "VARCHAR(50)")

Colonne créée avec succès.

In [4]:
database.add_column("kpis", "pred", "FLOAT")

Colonne créée avec succès.

In [5]:
database.get_columns_table("kpis")

[{'name': 'date_pred',
  'type': DATE(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'type_de_bien',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'region',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'departement',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'commune',
  'type': VARCHAR(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'user',
  'type': VARCHAR(length=50),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'pred',
  'type': DOUBLE_PRECISION(precision=53),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [7]:
df = database.query_to_dataframe("SELECT * FROM kpis WHERE date_pred='2024-03-05'")
df.head(10)

    date_pred type_de_bien     region departement  commune  user  pred
0  2024-03-05  Appartement  Normandie      Manche  Agneaux  None  None

In [9]:
from datetime import date

database.add_row("kpis", date_pred=date.today(),
                    type_de_bien="Maison",
                    region="Normandie",
                    departement="Manche",
                    commune="Agneaux",
                    user="test",
                    pred=125000)

Row id added

In [10]:
df = database.query_to_dataframe("SELECT * FROM kpis WHERE date_pred='2024-03-05'")
df.head(10)

    date_pred type_de_bien     region departement  commune  user      pred
0  2024-03-05  Appartement  Normandie      Manche  Agneaux  None       NaN
1  2024-03-05       Maison  Normandie      Manche  Agneaux  test  125000.0

In [14]:
df = database.query_to_dataframe("SELECT * FROM kpis WHERE date_pred='2024-03-05'")
df.head(10)

    date_pred type_de_bien     region departement  commune  user      pred
0  2024-03-05  Appartement  Normandie      Manche  Agneaux  None       NaN
1  2024-03-05       Maison  Normandie      Manche  Agneaux  test  125000.0